@CHARSET "utf-8";

body {
	background-color: #F5F5F5;
	margin: 5px 10px;
}

div .quote,.res,.new_link,.new_instagr_thumb {
	display: inline-block;
	_display: inline;
}

a:link,a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,textarea {
	margin-left: 12px;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 2px #CCC;
	-webkit-box-shadow: 0 0 2px #CCC;
	-moz-box-shadow: 0 0 2px #CCC;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF),
		to(#EEE) );
	background-image: -moz-linear-gradient(top, #FFF, #EEE);
}

.quote {
	color: #1177FF;
}

input[type="text"]:focus,textarea:focus {
	background-image: none;
	background-color: #FFD;
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	border-color: rgba(82, 168, 236, 0.75) !important;
	outline: medium none;
}

blockquote.res {
	background-color: #faebbc;
}

blockquote.file {
	background-color: #FFCCCC;
}

blockquote.file,blockquote.res {
	font: 14px/20px MeiryoKe_PGothic;
	padding: 8px;
	border-top: 1px solid #e1cc89;
	border-bottom: 1px solid #e1cc89;
	margin: 20px;
	margin-left: 40px;
	text-indent: 23px;
}

blockquote.twitter {
	width: 500px;
	font: 20px MeiryoKe_PGothic;
	padding: 15px 50px 15px;
	background-color: #faebbc;
	border-top: 1px solid #e1cc89;
	border-bottom: 1px solid #e1cc89;
	margin: 10px;
	background-position: top left;
	background-repeat: no-repeat;
}

blockquote span.twitter {
	position: relative;
	left: 50px;
}

blockquote cite {
	font: 16px/20px times, serif;
	position: relative;
	left: 50px;
	display: block;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin: 0px;
}

.postlocate {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: none repeat scroll 0 0 white;
	border: 1px solid #D1D1D1;
	width: 900px;
	padding: 12px 0px 12px 0px;
	margin: 15px 0px;
}

#textarea {
	width: 520px;
	height: 28px;
	font-size: 120%;
}

.expand {
	height: 4.9em !important;
}

#articles{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: none repeat scroll 0 0 white;
	border: 1px solid #D1D1D1;
	width: 900px;
}

.article{
	border-bottom: 1px solid #D1D1D1;
	padding-bottom: 16px;
	padding-top: 10px;
}

.entry {
	margin-left: 70px;
}

.all {
	margin-left: 20px;
}

.creater {
	padding-top: 12px;
	margin-left: 60px;
}

.creater p {
	font-size: small;
}

.title {
	margin-top: 12px;
	margin-left: 12px;
	color: #990000;
	font: bold 110% sans-serif;
}

.title .number {
	color: blue;
	font-size: 110%;
	line-height: 16px;
}

.cluster_info:hover {
	background: #ffffcc;
}

.cluster_info .body,.entry .body,.user_info .body {
	word-wrap: break-word;
	margin: 8px 30px 0px 42px;
}

.cluster_info {
	background-color: #FFF8DC;
}

.cluster_info {
	margin-top: 15px;
	margin-right: 30px;
}

.user_info {
	background-color: #F0F9FC;
}

.menu a {
	color: blue;
	font-size: 15px;
	line-height: 16px;
}

.bottom {
	margin-top: 15px;
	margin-right: 30px;
	text-shadow: 0 0 10px #999999;
}

.bottom .time {
	color: #666666;
	font-size: 15px;
	line-height: 16px;
}

.name {
	color: #7777CC;
	font-size: 15px;
	line-height: 16px;
}

.photo {
	float: left;
	padding: 10px;
}

.photo img {
	background: #ccc;
	width: 50px;
}

.photo span {
	display: block;
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-image:
		url(http://static.tumblr.com/4cradrm/caWkmz08e/icon_reblog.png);
}

/*--------------------------------------------------------
 * 更新情報とか
 *--------------------------------------------------------*/
#links {
	margin-top: 40px;
}

#links * {
	font-size: small;
}

#links ul {
	list-style-type: none;
	width: 400px;
}

#links li {
	border: 1px dotted #999;
	border-width: 1px 0;
	margin: 5px 0;
	background-color: #FFF8DC;
}

#links li a {
	color: #990000;
	display: block;
	font: bold 120% Arial, Helvetica, sans-serif;
	padding: 5px;
}

* html #links li a {
	width: 400px;
}

#links li a:hover {
	background: #ffffcc;
	text-decoration: none;
}

#links a em {
	color: #333;
	display: block;
	font: normal 85% Verdana, Arial, Helvetica, sans-serif;
	line-height: 125%;
}

#links a span {
	color: #125F15;
	font: normal 70% Verdana, Arial, Helvetica, sans-serif;
	line-height: 150%;
}

/*-------------------------------------------------------
 * メッセージボックス
 *-----------------------------------------------------*/
.alert {
	background: url("../images/exclamation.png") no-repeat scroll 15px 50%
		#FFF6BF;
	border-bottom: 2px solid #FFD324;
	border-top: 2px solid #FFD324;
	padding: 5px 20px 5px 45px;
}

.info {
	background: url("../images/information.png") no-repeat scroll 15px 50%
		#F8FAFC;
	border-bottom: 2px solid #B5D4FE;
	border-top: 2px solid #B5D4FE;
	padding: 5px 20px 5px 45px;
}

.download {
	background: url("../images/download.png") no-repeat scroll 15px 50%
		#CCFFCC;
	border-bottom: 2px solid #33CC66;
	border-top: 2px solid #33CC66;
	padding: 5px 20px 5px 45px;
}

/*-------------------------------------------------------
 * h1~h6
 *-----------------------------------------------------*/
h2,h3 {
	border-left: 7px solid #FFA500;
	padding: 0.8em 0.9em;
}

h3 span {
	display: block;
	padding-top: 0.2em;
	font-size: 0.8em;
	color: #CCCCCC;
}

/* コンテナ:Tooltip全体 */
#tooltip {
	text-align: left;
	position: absolute;
	left: -999em;
	z-index: 1;
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	opacity: 0.85;
	background-image: url(../images/img_back.gif);
	background-repeat: no-repeat;
	width: 230px;
	height: 230px;
}

/* IE 6:インラインフレーム */
.bgiframe {
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 1px;
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 90 );
}

#tooltip .body {
	font-size: 12px;
	margin: 0;
	line-height: 16px;
	color: #999;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.bgiframe {
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 1px;
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 90 );
}

* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

#container {
	padding: 20px;
}

input,textarea {
	font-family: "MeiryoKe_PGothic", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #404040;
}

label {
	color: #999;
	cursor: pointer;
	padding-left: 2px;
	line-height: 15px;
	vertical-align: top;
}

label.chosen {
	color: #333;
}

.transparent {
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
	border: 0px solid #FFF;
	background: #FFF;
	z-index: 10;
	cursor: pointer;
}

.transparentFake {
	background: none;
	border: none;
}

.transparent2 {
	z-index: 10;
}

.textinput,.textinputHovered {
	width: 236px;
	height: 15px;
	background: url(../images/input.gif) no-repeat left top;
	border: none;
	padding: 4px 8px;
}

.textinputHovered {
	background-position: left bottom;
}

.textarea,.textareaHovered {
	width: 336px;
	height: 125px;
	background: url(../images/textarea.gif) no-repeat left top;
	border: none;
	padding: 4px 8px;
}

.textareaHovered {
	background-position: left bottom;
}

.selectArea {
	width: 200px;
	height: 21px;
	background: url(../images/select_bg.gif) repeat-x left top;
}

.selectArea .left {
	width: 8px;
	height: 21px;
	float: left;
	background: url(../images/select_left.gif) no-repeat left top;
}

.selectArea .right {
	width: 21px;
	height: 21px;
	float: right;
	background: url(../images/select_right.gif) no-repeat left top;
}

.selectArea .right a {
	display: block;
	width: 21px;
	height: 21px;
}

.selectArea .right i {
	display: none;
}

.selectArea .center {
	width: 160px;
	margin-left: 5px;
	margin-right: 20px;
	color: #FFF;
	padding-top: 3px;
}

.optionsDivInvisible,.optionsDivVisible {
	position: absolute;
	margin-top: -1px;
	margin-left: 3px;
	width: 172px;
	background: #6f7074;
	padding: 2px;
	font-size: 11px;
	z-index: 20;
}

.optionsDivInvisible {
	display: none;
}

.optionsDivVisible {
	display: block;
}

.optionsDivVisible p {
	margin: 0;
	padding: 0;
}

.optionsDivVisible a {
	color: #f2f2f2;
	text-decoration: none;
	display: block;
	padding: 1px 4px;
	border: 1px solid #6f7074;
}

.optionsDivVisible a:hover {
	color: #FFF;
	background: #5f6062;
	border-color: #cfd0d6;
}

.buttonSubmit,.buttonSubmitHovered {
	width: 69px;
	height: 26px;
	color: #FFF;
	font-weight: bold;
	padding: 2px 5px;
	background: url(../images/button.gif) no-repeat left top;
	cursor: pointer;
	border: none;
}

.buttonSubmitHovered {
	background-position: left bottom;
}

#stylesheetTest {
	position: absolute;
	left: -999px;
	width: 10px;
	height: 10px;
}

/* BUTTONS */
.buttons {
	height: 32px;
	margin-left: 12px;
	margin-top: 12px;
}

.buttons a,.buttons button {
	display: block;
	float: left;
	margin: 0 7px 0 0;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px; /* Links */
}

.buttons button {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type] {
	padding: 5px 10px 5px 7px; /* Firefox */
	line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img,.buttons a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* STANDARD */
button:hover,.buttons a:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

.buttons a:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

/* POSITIVE */
button.positive,.buttons a.positive {
	color: #529214;
}

.buttons a.positive:hover,button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

.buttons a.positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* NEGATIVE */
.buttons a.negative,button.negative {
	color: #d12f19;
}

.buttons a.negative:hover,button.negative:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.buttons a.negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

/* REGULAR */
button.regular,.buttons a.regular {
	color: #336699;
}

.buttons a.regular:hover,button.regular:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

.buttons a.regular:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

/*-----------------------------------------------------
 * オーバレイ
*----------------------------------------------------*/
.preview_div {
	position: fixed;
	width: 680px;
	height: 500px;
	overflow: auto;
	left: 50%;
	margin-left: -400px;
	top: 50%;
	margin-top: -330px;
	background: #fff;
	padding: 20px;
}

#overlay {
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.75;
	-moz-opacity: 0.75; /* Firefox */
	filter: alpha(opacity = 75); /* IE6/7 */
	-ms-filter: "alpha(opacity=75)"; /* IE8 */
}

* html .preview_div {
	position: absolute;
	margin-top: 60px;
	top: expression((   ( ignoreMe =   document.documentElement.scrollTop ?
		document.documentElement.scrollTop :   document.body.scrollTop) ) +
		'px' );
	right: expression((   ( ignoreMe2 =   document.documentElement.scrollLeft ?
		document.documentElement.scrollLeft :   document.body.scrollLeft) ) +
		  'px' );
}

* html #overlay {
	position: absolute;
	top: expression((   ( ignoreMe =   document.documentElement.scrollTop ?
		document.documentElement.scrollTop :   document.body.scrollTop) ) +
		'px' );
	right: 0;
}

div.sabrosus {
	padding: 3px;
	margin: 3px;
	text-align: center;
	width: 900px;
}

div.sabrosus a.other {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #9aafe5;
	text-decoration: none;
	color: #2e6ab1;
}

div.sabrosus span.other:hover,div.pagination a:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}

div.sabrosus span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #2e6ab1;
	color: #FFF;
}

div.sabrosus span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}

#search {
	position:absolute;
    left: 700px;
    top:  5px;
    width:200px;
}