@CHARSET "utf-8";

img {
    max-width:100%;
    height:auto;
}

body {
	font-family: sans-serif;
    font: 10px;
}

#logo{
	background: white;
	opacity: 0.7;
}

#postlocate {
	font-size: 20px;
}

#textarea {
	font-size: 150%;
    width: 90%;
    height: 4.9em;
}

.buttons {
    height: 70px;
}

.buttons button {
	width: 150px;
	height: 70px;
}

.backpartition {
    background: white;
    opacity: 0.7;
    width: 100%;
}

div.sabrosus {
	width: 400px;
}

#locationsetting{
	font-size: 120%;
}